body {
    background-color: #f0f0f0;
}

#spinButton {
    padding: 15px;
    font-size: 18px;
}

#rouletteResult {
    font-size: 24px;
    font-weight: bold;
}

.selected {
    background-color: #20c997 !important; /* Color verde agua */
}

.roulette-container {
    position: relative;
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: 300px; /* Ajusta el tamaño según sea necesario */
    margin: 0 auto;
}

.roulette {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000;
    transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: center;
    overflow: hidden;
}

.half {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    color: #C1BC53;
    font-size: 28px; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    position: absolute;
    transform: translate(100%, -50%) rotate(0deg); /* Ajusta la rotación según sea necesario */
    top: 50%;
    left: 60%;
}

.arrow {
    position: absolute;
    top: -25px; /* Ajusta la posición de la flecha según sea necesario */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    font-size: 24px;
    color: red;
}

.segment {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%); /* Forma de triángulo para cada segmento */
    transform-origin: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue {
    background-color: blue;
    transform: rotate(0deg);
}

.purple {
    background-color: purple;
    transform: rotate(180deg);
}